{% extends 'base_layout.html' %}
{% block content %}
<div class="container demo">
    <div class="content">
       <div id="large-header" class="large-header">
          <canvas id="demo-canvas"></canvas>
          <h1 class="main-title"><span class="thin">Django</span> Blog</h1>
       </div>
    </div>
 </div>
    <h1 class='header'>this is the homepage and you are welcome </h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <script>
        var textWrapper = document.querySelector('.header');

anime.timeline({loop: true})
  .add({
    targets: '.header',
    translateX: [40,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1800,
    delay: (el, i) => 500 + 30 * i
  }).add({
    targets: '.header',
    translateX: [0,-30],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 11100,
    delay: (el, i) => 100 + 30 * i
  });
    </script>
    {% endblock %}